.clearfix
	.row
		.nested-fields
			.col-md-9.pull-left
				= f.input :name, input_html: { class: 'form-control' }
			.col-md-3.pull-right
				.center_ingredient_button
					= link_to_remove_association "Remove Ingredient", f, class: "btn btn-danger btn-sm pull-right form-button" "form-control"
